#ecommerce-slider {
  position: relative;
  &.slider-circle-btn {
    .swiper-button {
      width: 30px;
      height: 30px;
      position: absolute;
      &.swiper-button-next {
        right: 0.2rem;
        left: auto;
        top: 45%;
        background: var(--#{$variable-prefix}primary);
        border-radius: 5rem;
        &:after {
          content: "next";
          font-size: 0.75rem;
          color: $white;
        }
      }
      &.swiper-button-prev {
        &:after {
          content: "prev";
          font-size: 0.75rem;
          color: $white;
        }
        right: auto;
        left: 0.2rem;
        top: 45%;
        background: var(--#{$variable-prefix}primary);
        border-radius: 5rem;
      }
    }
  }
}
.slider-circle-btn {
  .swiper-button {
    width: 30px;
    height: 30px;
    position: absolute;
    &.swiper-button-next {
      right: 0.2rem;
      left: auto;
      top: 45%;
      background: var(--#{$variable-prefix}primary);
      border-radius: 5rem;
      &:after {
        content: "next";
        font-size: 0.75rem;
        color: $white;
      }
    }
    &.swiper-button-prev {
      &:after {
        content: "prev";
        font-size: 0.75rem;
        color: $white;
      }
      right: auto;
      left: 0.2rem;
      top: 45%;
      background: var(--#{$variable-prefix}primary);
      border-radius: 5rem;
    }
  }
}
//swiper-btn
.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 50% !important;
  width: 3em !important;
  height: 3em !important;
}
.top-swiper-arrow {
  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      font-size: 0.875em;
      color: var(--bs-primary);
      font-weight: 900;
      background: rgba(var(--bs-black-rgb), 0.5);
      width: 2.188em;
      height: 2.188em;
      line-height: 2.188em;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0.3125em;
      box-shadow: 0 0.5625em 1.1875em rgba(var(--bs-black-rgb) 0.5);
    }
  }
}
