table {
  &.cart-table {
    thead {
      tr {
        th {
          background: var(--bs-gray-900);
          color: var(--bs-white);
          padding: 1em;
        }
      }
    }

    tbody {
      tr {
        td {
          padding: 1.313em 1em;
          color: var(--bs-body-color);
        }
      }
    }

    .product-thumbnail {
      img {
        height: 5em;
        width: 5em;
        min-width: 5em;
        object-fit: cover;
      }
    }
  }
}

.product-social-share {
  ul {
    li {
      a {
        height: 30px;
        width: 30px;
        line-height: 30px;
      }
    }
  }
}

.cart-page-items {
  li {
    .cart-pre-number {
      padding: 0;
      width: 20px;
      height: 20px;
      line-height: 20px;
      display: inline-block;
      text-align: center;
      font-size: 0.75em;
      background: var(--bs-gray-900);
    }
  }
}

.cart_totals {
  background: var(--bs-gray-900);

  .btn {
    width: 100%;
  }

  table {
    th {
      background: transparent;
    }

    td {
      background: transparent;
    }
  }
}

.acc-left-menu {
  padding: 1.75em;
  background: var(--bs-gray-900);

  .nav-tabs {
    .nav-link {
      color: var(--bs-white);
      border: none;

      &:hover {
        color: var(--bs-primary);
      }

      &.active {
        color: var(--bs-primary);
      }
    }
  }
}

.product-menu-content {
  background: var(--bs-gray-900);

  .form-control {
    background: var(--bs-body-bg);
  }

  .select2-container {
    .select2-selection--single {
      background: var(--bs-body-bg);
    }

  }
}

.maintable {
  margin-bottom: 2em;
}

.orders-table {
  table {
    font-size: .85em;

    thead {
      th {
        font-size: 1.125em;
      }
    }

    tbody {
      th {
        background-color: var(--bs-gray-900);
      }
    }

    th {
      padding: 1em;
    }

    td {
      padding: 1em;
      background-color: var(--bs-gray-900);

      .iq-button {
        .btn {
          padding: 0.5em 1em;

          i {
            display: none;
          }
        }
      }

      .view-btn {
        padding: .5em;
        line-height: .875em;
      }
    }
  }
}

.woocommerce-info-coupon {
  background-color: var(--bs-gray-900);
}

.woocommerce-info {
  color: var(--bs-body-color);
  display: inline-block;
  padding: 1em 2.5em;
}

.checkout-coupon {
  background-color: var(--bs-gray-900);
  border: 0;
  text-align: center;
  padding: 2em;
  max-width: 43.75em;
  margin: 0 auto 3em;

  .form-control {
    background: var(--bs-body-bg);
    padding-right: 11em;
  }

  .iq-checkout-coupon {
    position: relative;

    .iq-button {
      position: absolute;
      left: auto;
      right: 0;
      top: 0;
      bottom: 0;

      .btn {
        height: 3.375em;
        line-height: 3.375em;
        padding: 0 2em;

        i {
          display: none;
        }
      }
    }
  }
}

.cart_item {
  border-bottom: .0625em solid var(--bs-border-color);

  td {
    border: none;
    padding: 1.5em 1em 1.5em 0;
  }

  .product-name {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .product-image {
    img {
      height: 5em;
      width: 5em;
      min-width: 5em;
      object-fit: cover;
    }
  }
}

.checkout-payment {
  background: var(--bs-gray-900);

  .payment-box {
    .accordion {
      .accordion-item-payment {
        margin-bottom: 1em;

        .accordion-button-payment {
          color: var(--bs-white);

          .form-check {
            margin-bottom: 1em;
          }
        }

        .accordion-body {
          position: relative;
          background: var(--bs-body-bg);

          &::before {
            content: "";
            display: block;
            border: 1em solid var(--bs-body-bg);
            border-right-color: transparent;
            border-left-color: transparent;
            border-top-color: transparent;
            position: absolute;
            top: -0.75em;
            left: 0;
            margin: -1em 0 0 2em;
          }
        }
      }
    }
  }
}

.order {
  background: var(--bs-gray-900);
  padding: 2em;
  text-align: center;
  margin-bottom: 2em;

  .thank {
    text-align: center;
    margin: 0 0 1.5em;
    font-size: 1.5em;
    line-height: normal;
  }

  .details {
    display: flex;

    .detail {
      width: 20%;
      font-size: 0.715em;
      border-right: .063em dashed var(--bs-border-color);
      list-style: none;
      text-align: center;

      &:last-child {
        border-right: 0;
      }

      strong {
        font-size: 1.4em;
        color: var(--bs-white);
        display: block;
      }
    }
  }
}

.bill_section {
  background: var(--bs-gray-900);
  padding: 1em;

  table {
    background: transparent;

    tr {
      background: transparent;

      td {
        background: transparent;
      }
    }
  }
}

// QUantity Button
.iq-qty-btn {

  position: relative;
  display: inline-block;
  border: none;
  background-color: var(--bs-border-color);
  padding-right: 0;

  .input-display {
    padding: 0px;
    width: 2em;
  }

  button {
    padding: 0;
    height: 2.5em;
    width: 2.5em;
    line-height: 0;
    text-align: center;
    background: transparent;
    outline: 0;
    font-size: .875em;

    &.btn {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.add-product-wrapper {

  .wishlist-btn,
  .link-wishlist-btn {
    padding: 0.75em;
    line-height: 0;
    color: var(--bs-white);

    &:hover:not(.custom-wishlist-btn) {
      color: var(--bs-primary);
    }
  }
}

.additional-info-table {
  table {
    &.table-border {
      th {
        width: 10%;
        padding: 1em;
      }
    }
  }
}

.product-review-list {
  .user-image {
    img {
      width: 2.5em;
      height: 2.5em;
      object-fit: cover;
    }
  }

  .published-date {
    font-size: 0.65em;
  }

  .ratting {
    i {
      font-size: 0.875em;
    }
  }

  .reviews-bg {
    background-color: var(--bs-gray-900);
  }
}

.iq-on-sale,
.iq-on-new {
  font-size: 1em;
  font-weight: $font-weight-medium;
  position: absolute;
  top: 1em;
  left: 1em;
  right: auto;
}

.price {
  font-weight: $font-weight-bold;
}

.product-detail-price {
  line-height: 1.5;
  margin-bottom: .6em;
}

.producti-detail-description {
  margin: 1em 0;
  color: var(--bs-white);
  font-weight: 400;
}

.table.table-additional>:not(caption)>*>* {
  background-color: var(--bs-gray-900);
  border: .063em solid var(--bs-border-color);
}

.table {
  &.table-additional {
    td {
      padding: 1em;
      border-right: 0;
      border-top: 0;
      border-bottom: 0px dotted rgba(0, 0, 0, .1);
    }

    th {
      width: 150px;
      padding: 1em;
      border-left: 0;
      border-top: 0;
      border-bottom: 1px dotted rgba(0, 0, 0, .1);
    }
  }
}

.add-info-title {
  font-size: 1.77em;
  margin-bottom: 1em;
  line-height: 1.2;
}

.sale-product {
  .price {
    text-decoration: line-through;
    color: var(--bs-body-color);
    display: inline-block;
    font-weight: $font-weight-normal;
  }

  .sale-price {
    font-weight: $font-weight-bold;
    display: inline-block;
  }
}

.shop-filter {
  margin-bottom: 3em;

  .iq-custom-select {
    width: 250px;
  }
}

.accordion-button-payment {
  .form-check-label {
    vertical-align: middle;
  }
}

.product-detail {
  .product-detail-image {
    height: 40.625em;
    width: 100%;
    object-fit: cover;
  }

  .product-category-list,
  .product-tag-list {
    color: var(--bs-body-color);

    &:hover {
      color: var(--bs-primary);
    }
  }
}

.product-emove,
.product-img {
  width: 0;
}

.widget-shopping-cart-content {

  .product-list-content {
    ul li {
      float: none;
      align-items: flex-start;
      display: flex;
      gap: 1em;
      padding: 0 0 1.875em;
      position: relative;
      margin: 0 0 1.875em;
      border-bottom: 0.0625em solid var(--bs-body-bg);
    }

    .mini-cart-item {
      .iq-qty-btn {
        .btn {
          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  .mini-cart-item {
    .cart-img {
      width: 5.5em;
      flex-shrink: 0;

      img {
        object-fit: cover;
        aspect-ratio: 1/1.3;
        max-width: 100%;
      }
    }
  }


  .offcanvas-header,
  .offcanvas-body {
    padding: 2em;
  }

  .product-price {
    margin: .5em 0;
  }

  .star-rating {
    direction: rtl;
    display: flex;
    justify-content: end;
    unicode-bidi: bidi-override;
    font-size: 1em;

    .ph-fill.ph-star {
      color: var(--bs-border-color);
    }
  }
}

.iq-button {
  .view-cart {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);

    &::before {
      background-color: var(--bs-secondary);
      border-color: var(--bs-secondary);
    }

    &:hover {
      background-color: rgb(27.2, 25.6, 25.6);
      border-color: rgb(23.8, 22.4, 22.4);
    }
  }
}

.star-rating {
  label {
    color: #ccc;
    margin: 0;
    line-height: 1em;
    cursor: pointer;
  }

  input {
    display: none;

    &:checked+label i,
    &:checked+label~label i {
      color: #f39c12;
    }
  }
}

.related-product-slider {
  .card-style-slider {
    ul {
      li {
        .image-wrap {
          .product-image {
            img {
              object-fit: cover;
              width: 100%;
              height: fit-content;
              max-width: 100%;
              margin-bottom: 0.5em;
              aspect-ratio: 2/2.6;
              border-radius: var(--bs-border-radius-lg);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.product-block {
  &.product-list {
    .image-wrap {
      .product-image {
        img {
          height: 100%;
        }
      }
    }
  }
}

.widget-tags-product {
  li {
    a {
      background: var(--bs-gray-900);
    }
  }
}

.iq-qty-btn {
  &.custom-qty-btn {
    .btn {
      &:hover {
        background-color: transparent;
      }

      &:focus {
        background-color: transparent;
      }
    }
  }
}

.title-product-sidbar {
  font-size: 1.125em;
  margin-bottom: 1.5em;
  letter-spacing: 0.063em;
}

.widget-title-sidbar {
  font-size: 1.375em;
  margin-bottom: 1em;
}

.newest-product-block,
.best-product-block {
  .product-block {
    .container-rating {
      display: none;
    }
  }
}

.search-container-class {
  border-bottom: .0625em solid var(--bs-border-color);
  padding: 0 0 2em;
  margin-bottom: 2em;

  input {
    padding: 0 3.5em 0 1em;
    min-height: 2.813em;
    font-size: .875em;
  }

  .magnify-glass-bg {
    background-color: var(--bs-gray-900);
  }
}

.custom-wishlist-title {
  font-size: 2em;
}


a {
  &.product-name {
    color: var(--bs-white);

    &:hover {
      color: var(--bs-primary);
    }
  }
}

.cart-total-title {
  margin: 0 0 0.625em;
  font-size: 1.77em;
}

@media (max-width: 1024px) {
  .product-detail {
    padding-top: 70px;
  }
}

@media (max-width: 767px) {
  .order {
    .details {
      display: block;
      padding-left: 0;

      .detail {
        width: 100%;
        margin-bottom: 1.25em;
        border-right: none;
        border-bottom: 0.0625em dashed var(--bs-border-color);
        padding: 0 0 1em;
        text-align: left;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .product-detail {
    .product-detail-image {
      height: 550px;
    }
  }
}

@media (max-width: 479.98px) {
  .product-detail {
    .product-detail-image {
      height: 400px;
    }
  }
}