.iq-accordian {
    .iq-accordian-block {
        .iq-accordian-title {
            padding: 1.875em 1.875em 1.875em 4.688em;

            .iq-icon-right {
                left:1.875em;
                right:auto;
            }
        }
    }
}