.iq-blog-box {
    .iq-blog-meta-cat-tag {
        li {
            float: right;
        }
    }
}
.block-quote {
    padding-right: 1rem;
    padding-left: 0;
    border-left: none;
    border-right: 0.313em solid var(--bs-primary);
}

.iq-blogs-meta {
    .iq-blogtag {
      li {
        padding-right: 0;
        padding-left: 1em;
      }
    }
  }