.card-style-slider {
  li.swiper-slide {
    &.swiper-slide-active {
      .card-hover {
        &:hover {
          .block-images {
            transform: scale3d(1, 1, 1) translate3d(-12%, 0, 0)
              perspective(31.25em);
          }
        }
        &.landscape-card-hover {
          &:hover {
            .block-images {
              transform: scale3d(1.2, 1.3, 1) translate3d(-12%, 0, 0)
                perspective(31.25em);
            }
          }
        }
      }
    }
    &.swiper-active {
      &.last {
        .card-hover {
          &:hover {
            .block-images {
              transform: scale3d(1, 1, 1) translate3d(12%, 0, 0)
                perspective(31.25em);
            }
          }
          &.landscape-card-hover {
            &:hover {
              .block-images {
                transform: scale3d(1.2, 1.3, 1) translate3d(12%, 0, 0)
                  perspective(31.25em);
              }
            }
          }
        }
      }
    }
  }
}

.premium-product {
  right: unset;
  left: 10px;
}
