.iq-blog-box {
  .iq-blog-image {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;
  }

  .iq-blog-meta {
    margin-bottom: 0.625em;

    ul {
      margin: 0;
      padding: 0;
      line-height: 1em;

      li {
        text-transform: uppercase;
        font-style: var(--bs-font-sans-serif);
        font-size: 1em;
        margin: 0 0.625em 0.625em 0;
        padding: 0.625em 0.625em 0.625em 0.938em;
        position: relative;
        overflow: hidden;
        display: inline-block;

        a {
          color: var(--bs-body-color);
        }
      }
    }
  }

  .iq-blog-detail {
    margin-bottom: 32px;

    .iq-blog-meta {
      ul {
        li {
          color: var(--bs-body-color);
          padding: 0;
          line-height: normal;
          margin: 0;

          a {
            font-size: 0.875em;
            font-weight: 500;

            &:hover {
              color: var(--bs-primary);
            }
          }
        }

        li {
          &.posted-by {
            padding-right: 1em;
          }
        }

        li {
          &.posted-on {
            padding-right: 0.7em;
          }
        }
      }
    }
  }

  .iq-blogtag {
    .title {
      color: var(--bs-body-color);
      font-size: var(--bs-body-font-size);
      transition: all 0.3s;
      text-decoration: none;

      &:hover {
        color: var(--bs-primary);
      }
    }
  }

  .blog-readMore {

    &::after,
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;
      height: 1px;
      transition: 0.4s;
      background: currentColor;
    }
  }

  .blog-readMore {
    &::before {
      left: 0;
      right: auto;
      width: 0;
      transition-delay: 0s;
    }

    &::after {
      right: 0;
      left: auto;
      width: 100%;
    }
  }

  .blog-category {
    &:not(:last-child) {
      a {
        &::after {
          content: ",";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
    }
  }

  .blog-tag {
    a {
      color: var(--bs-body-color);
      text-transform: capitalize;
      background: var(--bs-gray-900);
      padding: 0.438em 0.75em;
    }
  }

  .iq-blog-meta-cat-tag {
    padding: 0;
    display: inline-block;
    width: 100%;
    position: static;
    margin: 0;

    li {
      list-style: none;
      float: left;
      margin: 0 0.625em 0.625em 0;

      a {
        background: var(--bs-gray-900);
        color: var(--bs-body-text);
        padding: 0.313em 0.625em;
        text-transform: uppercase;
        font-size: 0.875em;

        &:hover {
          background-color: var(--bs-primary);
          color: var(--bs-white);
        }
      }
    }
  }

  .blog-heading {
    a {
      &:hover {
        color: var(--bs-primary);
      }
    }
  }
}
// blog-date 
.blog-custom-box {
  .iq-blog-box {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
    .iq-blog-detail {
      margin-bottom: 0;
    }
  }
}
//blog-template
.iq-blog-category-2 {
  li {
    a {
      color: var(--bs-white);

      &:hover {
        color: var(--bs-primary);
        transition: all 0.4s ease 0s;
      }
    }
  }
}

.iq-published-date {
  a {
    color: var(--bs-white);

    &:hover {
      color: var(--bs-primary);
      transition: all 0.4s ease 0s;
    }
  }
}

.iq-author-details {
  margin-top: 2.1875em;

  .iq-author-image {
    height: 2em;
    width: 2em;
    line-height: 2.5em;

    a {
      color: var(--bs-white);

      &:hover {
        color: var(--bs-primary);
        transition: all 0.4s ease 0s;
      }
    }
  }
}

.block-quote {
    background-color: var(--bs-gray-900);
    padding-left: 1rem;
    border-left: 0.313em solid var(--bs-primary);
    border-radius: .3em;
}

.blockquote {
  padding: 1.875em 1.875em 0.9375em 1.875em;
  border-left: 2px solid var(--bs-primary);
  

  p {
    color: var(--bs-body-color);
    font-style: italic;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 2.5em;
  }

  .blockquote-icon i {
    font-size: 60px;
    color: var(--bs-gray-900);
  }
}

.iq-author-meta-details {
  grid-gap: 2.1875em;
  gap: 2.1875em;

  .iq-author-image {
    width: 9.6875em;
    height: 9.6875em;
  }
}

.blog-nav {
  padding-top: 3em;
  padding-bottom: 1.9em;
  position: relative;

  .blog-prev-post,
  .blog-next-post {
    a {
      color: var(--bs-body-color);

      .blog-post {
        color: var(--bs-body-color);
      }

      .blog-arrow {
        i {
          color: var(--bs-primary);
        }
      }

      &:hover {
        color: var(--bs-primary);
        transition: all 0.4s ease 0s;

        .post-title {
          text-decoration: underline;
        }
      }
    }
  }
}

.blog-box {
  margin-bottom: 3.125em;
  padding-bottom: 2.5em;
  border: solid;
  border-width: 0 0 0.063em;
  border-image-slice: 1;
}

///blog single
blockquote,
.block-quote {
  &.is-style-large {
    background: var(--bs-gray-900);
    padding: 0.938em 1.875em;
    border-left: 0.25em solid var(--bs-primary);
    margin-bottom: 1.875em;
    border-radius: 0.5em;
  }
}

blockquote cite {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

//blog video
.blog-video {
  div {
    &.my-video {
      height: 70vh;
    }
  }
}

.blog-single-icon {
  i {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    font-size: 3.75em;

    &::before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

a {
  &:hover {
    .blog-heading {
      transition: all 0.5s ease-in-out;
    }

    .blog-heading {
      color: var(--bs-primary);
    }
  }
}

.pagination {
  .blog-pagination {
    .page-link:hover {
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
      color: var(--bs-white);
    }
  }
}

.blog-pagination {
  .pageicon-lineheight {
    line-height: 2;
  }

  .page-link {
    color: var(--bs-white);
    position: relative;
    height: 2.813em;
    width: 2.813em;
  }
}

// scroll loader
.loader-wheel-container {
  border: 0.125em solid var(--bs-white);
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 3.125em;
  height: 3.125em;
  margin: 2em auto 0;
  animation-name: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// Blog

.iq-blogs-meta {
  margin-bottom: 0.625em;

  .iq-blogtag {
    li {
      color: var(--bs-body-color);
      padding-right: 1em;

      a {
        font-size: 0.875em;
        color: var(--bs-body-color);
        letter-spacing: 0.0625em;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
          color: var(--bs-primary);
        }
      }
    }
  }
}

.blog-gallery-desc {
  line-height: 1.66em;
}



.quote-icon {
  font-size: 50px;
}

.blockquote-icon {
  i {
    &.ph-fill {
      &.ph-quotes {
        font-size: 75px;
      }
    }
  }
}

.section-border {
  border: 0.063em solid var(--bs-border-color);
  margin: 41px 0px 48px 0px;
}

.blog-listning {
  .iq-blog-box {
    .iq-blog-detail {
      margin-bottom: 48px;
      border-bottom: 0.063em solid var(--bs-border-color);
      padding-bottom: 2.5em;
    }
  }
}

@media (max-width: 991px) {
  .blog-nav {
    &::after {
      content: none;
    }
  }
}

@media (max-width: 767px) {
  .blockquote {
    padding: 0.9375em;
  }

  .blog-box {
    margin-bottom: 2em;
    padding-bottom: 2em;
  }

  .blog-nav {
    padding-top: 0;
    padding-bottom: 0;
  }
}