// card style
.iq-card {
  .block-images {
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    transition: all 0.6s ease 0s;
    overflow: hidden;

    .img-box {
      border-radius: var(--bs-border-radius-lg);
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
          0deg,
          rgba(var(--bs-black-rgb), 0.5) 8.71%,
          rgba(var(--bs-black-rgb), 0) 72.11%
        );
        border-radius: var(--bs-border-radius-lg);
        width: 100%;
        height: 100%;
        bottom: 0;
        transition: all 0.5s ease-in-out;
        opacity: 0;
      }

      a {
        z-index: 1;
      }

      img {
        mix-blend-mode: overlay;
        aspect-ratio: 2/2.8;
      }
    }

    .card-description {
      z-index: 9;
      transition: all 0.4s ease-in-out;
      padding: 1.25em 1.25em 0.625em;
      transform: translate3d(0, 0, 0);
      -webkit-font-smoothing: antialiased;

      .cart-content {
        a {
          font-size: inherit;
          color: inherit;
          text-decoration: none;
        }

        a {
          &.watch-list-not {
            font-size: 0.75em;
            font-weight: $font-weight-medium;
            color: var(--bs-body-color);
          }
        }
      }

      &.with-transition {
        bottom: -3.75em;
        opacity: 0;
        padding: 1.25em 0 0;
        visibility: hidden;
        transition: all 0.1s ease;
      }
    }

    &::after {
      position: absolute;
      content: "";
      border: 1.25em solid var(--bs-gray-900);
      bottom: -5em;
      left: -1.25em;
      right: -1.25em;
      top: -1.25em;
      opacity: 0;
      transition: all 0.1s ease-in-out;
      visibility: hidden;
      background: transparent;
      border-radius: 0.5em;
    }
  }

  .movie-time-text {
    color: var(--bs-body-color);
    font-size: 0.75em;
  }

  .card-description {
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    right: 0;
    transition: all 0.4s ease-in-out;
    padding: 1.25em 1.25em 0.625em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
  }

  .block-social-info {
    position: absolute;
    left: 1.25em;
    right: 1.25em;
    bottom: 1.25em;
    z-index: 999;
    display: flex;
    opacity: 0;
    justify-content: space-between;
    top: inherit;
    transition: opacity 0.2s ease-in-out;

    .music-play-lists {
      li {
        width: 1.625em;
        height: 1.625em;
        margin-bottom: 0;
        border-radius: 50%;
        line-height: 2.1875em;
        margin: 0 auto 0.4375em;
        background-color: transparent;
        border: 0.0625em solid var(--bs-white);
        transition: all 0.45s ease 0s;

        &:hover {
          border-color: var(--bs-primary);
          background: var(--bs-primary);
        }
      }

      .share {
        > span {
          width: 100%;
          height: 100%;
          display: inline-block;
          line-height: 0;
          font-size: 1em;
        }
      }

      span {
        i {
          color: var(--bs-white);
          font-size: 0.625em;
          line-height: 2.5em;
          cursor: pointer;
        }
      }
    }
  }

  .iq-button {
    .btn {
      width: 2.5em;
      height: 2.5em;
      line-height: 2.5em;
      padding: 0;
      overflow: hidden;
    }
  }

  &:hover {
    .block-images {
      .img-box {
        background: transparent;

        img {
          mix-blend-mode: inherit;
        }

        &::before {
          opacity: 1;
        }
      }

      .card-description {
        background: var(--bs-gray-900);

        &.with-transition {
          opacity: 1;
          visibility: visible;
          transition-delay: 0.2s;

          .cart-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }

          .watchlist {
            transition-delay: 0s;
          }
        }
      }

      &::after {
        opacity: 1;
        transition: all 0.2s ease-in-out;
        visibility: visible;
        transition-delay: 0.2s;
      }
    }

    .block-social-info {
      opacity: 1;
      transition-delay: 0.3s;
    }
  }

  .add-to-wishlist-btn {
    height: 2.5em;
    width: 2.5em;
    min-width: 2.5em;
    line-height: 2.5em;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    color: var(--bs-white);

  }
  .card-description {
    .genres-list {
      gap: 0.5em 2em;
      li {
        position: relative;
        font-weight: 600;

        &::after {
          content: "";
          height: 0.3125em;
          width: 0.3125em;
          border-radius: 50%;
          background-color: var(--bs-body-color);
          position: absolute;
          top: 51%;
          transform: translateY(-50%);
          right: -1.3125em;
        }

        &:last-child {
          list-style: none;
          &::after {
            content: none;
          }
        }
        a {
          color: var(--bs-body-color);
          &:hover {
            color: var(--bs-primary);
          }
        }
      }
    }
  }

  .cart-content {
    .iq-title {
      &:hover {
        color: var(--bs-primary);
      }
    }
  }

  .iq-play-button {
    width: 100%;
  }
  // card style two
  &.landscape-card-hover {
    .block-images {
      .img-box {
        img {
          aspect-ratio: 4.1 / 2.8;
        }
      }
    }
    .block-images {
      &::after {
        left: -1.1em;
        right: -1.1em;
        top: -1.1em;
        bottom: -4.9em;
      }
    }
  }
}

// card hover style start  view all movie
.view-all-movies {
  .card-hover {
    &:hover {
      .block-images {
        transform: scale3d(1.1, 1.1, 1) translateZ(0) perspective(31.25em);
      }
    }
  }
}
.card-hover {
  &:hover {
    .block-images {
      z-index: 99;
      transform: scale3d(1, 1, 1) translateZ(0) perspective(31.25em);
      transform-origin: 50% 50%;
      transition: all 0.6s ease 0s;
      box-shadow: none;
      transition-delay: 0.2s;
      overflow: visible;
      margin-top: -1.875em;
    }
  }
  &.landscape-card-hover {
    &:hover {
      .block-images {
        transform: scale3d(1.2, 1.3, 1) translate3d(12%, 0, 0)
          perspective(31.25em);
      }
    }
  }
}
//  continue watch card
.card-style-slider {
  li.swiper-slide {
    &.swiper-slide-active {
      .card-hover {
        &:hover {
          .block-images {
            transform: scale3d(1, 1, 1) translate3d(12%, 0, 0)
              perspective(31.25em);
          }
        }
        &.landscape-card-hover {
          &:hover {
            .block-images {
              transform: scale3d(1.2, 1.3, 1) translate3d(12%, 0, 0)
                perspective(31.25em);
            }
          }
        }
      }
    }

    &.swiper-active.last {
      .card-hover {
        &:hover {
          .block-images {
            transform: scale3d(1, 1, 1) translate3d(-12%, 0, 0)
              perspective(31.25em);
          }
        }
        &.landscape-card-hover {
          &:hover {
            .block-images {
              transform: scale3d(1.2, 1.3, 1) translate3d(-12%, 0, 0)
                perspective(31.25em);
            }
          }
        }
      }
    }
  }
}

// Premium Product
.premium-product {
  top: 10px;
  right: 10px;
  width: 1.75em;
  height: 1.75em;
  background-color: var(--bs-warning);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;

  i {
    filter: drop-shadow(2px 4px 6px var(--bs-black));
  }
}
// card hover style start

// card style grid view all movie all-personality
.card-style-grid {
  .slide-items {
    padding: 0 0.9375em;
    margin-bottom: 1.875em;
  }

  &:hover {
    .block-images {
      margin-top: unset;
    }
  }
}

// card hover style two style start watchlist,genres
.card-hover-style-two {
  .block-images {
    .img-box {
      width: 100%;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
      transition: all 0.6s ease 0s;
    }

    &:hover {
      .img-box {
        z-index: 99;
        transform: scale3d(1.1, 1.1, 1) translate3d(0, 0, 0)
          perspective(31.25em);
        transform-origin: 50% 50%;
        transition: all 0.6s ease 0s;
      }
    }
  }
}

li.swiper-slide-active {
  .card-hover-style-two {
    .block-images {
      &:hover {
        .img-box {
          transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0)
            perspective(31.25em);
        }
      }
    }
  }
}

li.swiper-active.last {
  .card-hover-style-two {
    .block-images {
      &:hover {
        .img-box {
          transform: scale3d(1.1, 1.1, 1) translate3d(-6%, 0, 0)
            perspective(31.25em);
        }
      }
    }
  }
}

// card hover style two style end

@media (max-width: 1024px) {
  .iq-card {
    &:hover {
      .block-images {
        margin-top: 0;
      }
    }
  }

  .card-hover:hover .block-images,
  .card-style-slider
    li.swiper-slide.swiper-slide-active
    .card-hover:hover
    .block-images {
    transform: scale3d(1.1, 1.1, 1) translate3d(5%, 0, 0) perspective(31.25em);
  }

  .iq-card {
    &:hover {
      .block-social-info {
        opacity: 0;
      }
    }
  }

  .iq-card:hover {
    .block-images {
      &::after {
        display: none;
      }
    }
  }

  .iq-card:hover {
    .block-images {
      .card-description {
        &.with-transition {
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .card-hover-style-two {
    .block-images {
      &:hover {
        .img-box {
          transform: scale3d(1.1, 1.1, 1) translate3d(6%, 0, 0)
            perspective(31.25em);
        }
      }
    }
  }
  .card-style-slider {
    li {
      &.swiper-slide {
        margin-bottom: 0;
      }
    }
  }
}
