.btn,
.button {
    position: relative;
    z-index: 0;
    letter-spacing: .008em;
    border-radius: var(--bs-border-radius);

    &.btn-link {
     
        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            z-index: 1;
            height: 1px;
            transition: 0.4s;
            background: currentColor;
        }
        &::before {
            left: 0;
            right: auto;
            width: 0;
            transition-delay: 0s;
        }

        &::after {
            right: 0;
            left: auto;
            width: 100%;
        }

        &:hover {
            background: transparent;
            &::before {
                width: 100%;
                transition-delay: 0.4s;
            }
            &::after {
                width: 0;
            }
        }
    }
    &.btn-primary,
    &.button-primary {

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: var(--bs-primary);
            border: .0625em solid var(--bs-primary);
            transform: scaleX(1);
            transform-origin: 50%;
            transition: transform .3s ease-out;
            border-radius: var(--bs-border-radius);
        }

        &:hover {
            &::after {
                transform: scaleX(0);
            }
        }

        &:focus {
            color: var(--bs-white);
        }
    }

    &:focus-visible {
        border: none;
        box-shadow: none;
    }
}

.btn-close {
    &:focus {
        box-shadow: none;
    }
}

.btn,
.button {
  &.btn-link {
    &:after,
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;
      height: 1px;
      transition: 0.4s;
      background: currentColor;
    }

    &:before {
      left: 0;
      right: auto;
      width: 0;
      transition-delay: 0s;
    }

    &:after {
      right: 0;
      left: auto;
      width: 100%;
    }

    &:hover {
      background: transparent;

      &:before {
        width: 100%;
        transition-delay: 0.4s;
      }

      &:after {
        width: 0;
      }
    }
  }
}
