.widget {
  padding: 1.875em;
  display: inline-block;
  width: 100%;
  float: left;
  position: relative;
  background: var(--bs-gray-900);
  border-bottom: 1px solid var(--bs-border-color);

  .search-form {
    position: relative;

    .form-control {
      border: 0.0625em solid var(--bs-border-color);
      padding-right: 3.5em;
      background: var(--bs-body-bg);

      &:focus {
        border-color: var(--bs-primary);
      }
    }

    .block-search_button {
      position: absolute;
      right: 0;
      top: 0;
      color: var(--bs-white);
      cursor: pointer;
      background: var(--bs-primary);
      border: none;
      outline: none;
      box-shadow: none;
      transition: all 0.3s ease-in-out;
      height: 100%;
      width: 3.6em;
      border-radius: 0 3px 3px 0;
    }
  }

  .widget-title {
    font-size: 1.5em;
    position: relative;
    margin-bottom: 1.25em;
    margin-top: 0;
  }

  &.widget_categories {
    li {
      color: var(--bs-body-text);
      padding-bottom: 1em;
      position: relative;
      display: flex;
      align-items: center;
      gap: 1em;
      transition: all 0.3s ease-in-out;

      a {
        color: var(--bs-body-color);
      }

      a {
        &:hover {
          color: var(--bs-primary);
        }
      }

      &:hover {
        .post_count {
          opacity: 1;
        }

        &::before {
          opacity: 1;
        }
      }
    }

    li {
      &:last-child {
        padding-bottom: 0em;
      }
    }
  }
}

.widget {
  &:last-child {
    border-bottom: unset;
  }
}

.widget_tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8em;

  li {
    padding: 0;

    a {
      background: var(--bs-body-bg);
      display: inline-block;
      color: var(--bs-body-color);
      padding: 0.3125em 0.625em;
      font-size: 0.875em;
      border-radius: 0.5em;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: var(--bs-primary);
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.iq-blog-tag {
  margin-top: 3.75em;
  border: solid var(--bs-border-color);
  border-width: 0.063em 0 0;
  margin-bottom: 2.5em;
}

// social media
.widget_social_media {
  li {
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    a {
      position: relative;
      display: inline-block;
      width: 2.5em;
      height: 2.5em;
      text-align: center;
      line-height: 2.5em;
      margin-right: 0;
      color: var(--bs-white);
      font-size: 1em;
      border-radius: 50%;
      background: var(--bs-body-bg);
      transform: translateY(0);
      transition: all 0.4s ease 0s;

      &:hover {
        background: var(--bs-primary);
        transform: translateY(-0.3125em);
        color: var(--bs-white);
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.9);
        z-index: -1;
        border-radius: 50%;
        transition: all 0.4s ease 0s;
      }
    }
  }
}

.footer-merchandise {
  .widget_social_media {
    li {
      a {
        background: var(--bs-gray-900);
        &:hover {
          background: var(--bs-primary);
          transform: translateY(-0.3125em);
          color: var(--bs-white);
        }
  
      }
    }
  }
}

.contact-us-form {
  .widget_social_media {
    li {
      a {
        width: 3.2em;
        height: 3.2em;
        background: var(--bs-gray-900);
        display: flex;
        align-items: center;
        justify-content: center;
        i {
          font-size: 25px;
        }
      }
    }
  }
}

// recent blog
.iq-widget-blog {
  li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: none;
  }

  .post-title {
    margin-bottom: 0.5em;
  }

  .img-holder {
    width: 3.75em;
    border-radius: 3px;

    a {
      display: block;
      width: 100%;
      height: 3.75em;
      width: 3.75em;
      border-radius: 0;
      overflow: hidden;
      border-radius: 3px;
    }
  }

  .blog-data {
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    color: var(--bs-body-color);

    i {
      color: var(--bs-primary);
    }
  }
}

@media (max-width: 767px) {
  .iq-blog-tag {
    margin-top: 2em;
    padding-top: 2em;
    margin-bottom: 0;
  }
}
