.iq-top-ten-block-slider {
  .swiper-wrapper {
    margin: 0;
  }
}

.iq-top-ten-block {
  .block-image {
    padding: 0;
    .img-box {
      background: linear-gradient(
        0deg,
        rgba(var(--bs-black-rgb), 0.9),
        rgba(var(--bs-black-rgb), 0) 41.03%
      );
      position: relative;
      a {
        position: relative;
        display: block;
        img {
          mix-blend-mode: overlay;
          aspect-ratio: 2/2.8;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .overly-images {
      img {
        transition: all 0.6s ease 0s;
      }
    }

    .top-ten-numbers {
      position: absolute;
      bottom: -22px;
      right: 10px;
      font-weight: 800;
      font-size: 7.5em;
      transition: all 0.4s ease-out;
      z-index: 2;
    }
  }

  &:hover {
    .block-image {
      .top-ten-numbers {
        bottom: 0px;
      }
    }
  }
}

@media (max-width: 991px) {
  .iq-top-ten-block {
    .block-image {
      .top-ten-numbers {
        font-size: 4.5em;
        bottom: -8px;
      }
    }
  }
}


@media (max-width: 767px) {
  .iq-top-ten-block {
    .block-image {
      padding: 0 0.4687em;
    }
  }

  .iq-top-ten-block-slider {
    .swiper-button {
      &.swiper-button-next {
        right: 1em;
      }

      &.swiper-button-prev {
        left: 1em;
      }
    }
  }
}


