.table-fixed {
    overflow: unset;
    --hui-table-height: 25em;

    .table-responsive {
        max-height: var(--hui-table-height);
        .table{
          overflow: auto;
            thead {
                tr {
                    th {
                        background-color: var(--bs-body-bg);
                        position: sticky;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }
}
