.flatpickr {
  .prevMonthDay {
    color: #808080;
  }

  .prevMonthDay:hover {
    color: var(--bs-white);
  }

  .flatpickr-day {
    &:hover {
      background: var(--bs-primary);
    }
  }
}
@include media-breakpoint-down(md) {
  .fc-toolbar {
    flex-wrap: wrap;
    .fc-left {
      margin-bottom: 1rem;
    }
    .fc-right {
      .fc-button-group {
        margin-top: 1rem;
      }
    }
  }
}
