.movie-banner {
  overflow: hidden;
  position: relative;

  .swiper-banner-container {
    min-height: 72vh;
    height: 100%;
    .swiper-wrapper {
      .swiper-slide {
        height: auto;
      }
    }
  }

  .swiper-banner-container {
    .swiper-slide-prev,
    .swiper-slide-next {
      filter: blur(0.1875em);
    }
  }

  .movie-banner-image {
    position: relative;
		min-height: 72vh;
		height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &:before {
      width: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: linear-gradient(90deg,rgba(var(--bs-black-rgb),1),rgba(var(--bs-black-rgb),1) 35%,rgba(var(--bs-light-rgb),0));
    }
  }

  .shows-content {
    padding: 0;
    position: relative;

    > div {
      padding-left: 1.875em;
    }

    .slider-ratting {
      margin-top: 1.25em;
    }

    .movie-banner-time {
      margin: 0.625em 0 1.25em;
    }

    .movie-banner-text {
      margin: 1em 0;
    }
    
  }

  .swiper-banner-button-next,
  .swiper-banner-button-prev {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 999;
    background: transparent;
    border: none;
    color: rgba(var(--bs-white-rgb), 0.9);
    z-index: 1;
    height: 4.063em;

    .arrow-icon {
      font-size: 4.5em;
      color: var(--bs-white);
    }
  }

  .swiper-banner-button-prev {
    left: 10px;
  }

  .swiper-banner-button-next {
    right: 10px;
  }

  .slider-content-full-height {
    min-height: 72vh;
  }
}


@media screen and (max-width: 999px) {
  .movie-banner {
    .shows-content{
      padding: 3.125em 0;
    }
    .swiper-banner-container {
      height: 35vh ;
    }

    .slider-content-full-height {
      min-height: inherit;
      height: inherit;
    }
    .movie-banner-image ,.swiper-banner-container , .slider-content-full-height{
      min-height: inherit;
      height: 100%;
    }
    .swiper-pagination{
      position: relative;
      margin: 1em 0 0 0;
    }
  }

}

@media (max-width: 767px) {
  .movie-banner {
    .swiper-banner-container {
      height: 28.125em;
    }
  }
}

@media (max-width: 479px) {
  .movie-banner {
    .swiper-banner-container {
      height: inherit;
    }
  }
}
