.sign-bg {
  right: 0;
  left: 0;

  &.sign-bg-right {
    left: 0;
    right: auto;
  }
}

.input-group {
  &.custom-input-group {
    .form-control {
        border-left: 0;
        border-right: 1px solid var(--bs-border-color);
        &:focus {
          border-right: 1px solid var(--bs-primary);
      }
    }
  }
}

.sign-in-page-data {
  .input-group {
    > :not(:first-child):not(.invalid-feedback) {
      margin-right: -2px !important;
    }
  }
}

// custom auth css

@media (max-width: 991.98px) {
  .sign-in-page {
    overflow-y: scroll !important;
  }
}
