.tv-show-detail {
  .iq-main-slider {
    padding: 3.75em 5em 3.75em 0;

    &:before {
      background-image: linear-gradient(
        -180deg,
        rgba(51, 51, 51, 0),
        rgba(var(--bs-black-rgb), 0.8) 70%,
        var(--bs-black)
      );
    }
  }
}

.iq-contact-list {
  border-width: 0 0.063em 0 0;
}

.back-to-top {
  .top {
    left: 1.5625em;
    right: auto;
  }
}

.rtl-box {
  right: auto;
  left: 0;

  &.show {
    transform: translateX(0);
  }
}

.rtl-btn {
  left: auto;
  right: -2.5em;
}

.movie-tag {
  li {
    &.trending-list {
      padding-right: 0;
      padding-left: 1.725em;

      &::after {
        right: unset;
        left: 0.5em;
      }
    }
  }
}

.feature-box {
  img {
    margin-right: unset;
    margin-left: 1.5em;
  }
}

.form-check{
    .form-check-input{
        float: right;
        margin-left: 0.5em;
    }
}
