.navbar-brand {
  font-size: unset;
  padding: 0;

  img {
    &.logo {
      max-height: 5.375em;
      padding: 1.5em 0;
      width: 9.375em;
    }
  }

  svg {
    width: 10em;
  }
}

.cust-itemdropdown1 {
  .dropdown-menu {
    &.dropdown-user-menu {
      background: var(--bs-gray-900);
    }
  }
}

.iq-nav-menu {
  .sub-nav {
    &:not(.mega-menu-item) {
      li {
        &:hover {
          > a {
            padding-left: 2em;
          }
        }
      }
    }
  }
}

.custom-header-relative {
  header {
    &.header-sticky {
      position: absolute;
    }
  }
}

header {
  &.header-sticky,
  .header-sticky {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(0.625em);
    width: 100%;
    display: inline-block;
    transition: all 0.3s ease-out;
    background: rgba(var(--bs-black-rgb), 0.5);

    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      animation: header-slide-down 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
      animation-fill-mode: initial;
      transition: all 0.3s ease-out;
    }
  }

  .navbar-toggler-icon {
    background: var(--bs-primary);
    position: relative;
    text-align: center;
    background-image: none;
  }

  .mega-menu-content {
    .iq-nav-menu {
      li {
        ul {
          &.mega-menu-item {
            width: 1360px;
            padding: 2em 1em;

            li {
              width: 16.4%;
              display: inline-block;
              border-bottom: 0;
              padding: 0;

              .nav-link {
                span {
                  font-size: 1em;
                  font-weight: 500;
                  padding: 1.375em 0.9375em;
                  transition: color 400ms ease, background 400ms ease;
                }

                &:hover {
                  span {
                    color: var(--bs-primary);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.header-center-home {
    .mega-menu-content {
      .iq-nav-menu {
        li {
          ul {
            &.mega-menu-item {
              left: 30%;
              transform: translateX(-30%);
            }
          }
        }
      }
    }
  }

  .navbar {
    .sub-nav {
      &.mega-menu-item {
        li {
          &:hover > a::before,
          a.active::before {
            content: none;
          }
        }
      }
    }
  }

  .shoping-cart-button {
    padding: 1.7em 0;
    position: relative;

    i {
      font-size: 1.3em;
    }
  }

  .subscribe-btn {
    border-radius: var(--bs-border-radius-lg);
  }

  .shopping-badge {
    position: absolute;
    top: 1.1em;
    right: -1em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 50%;
    text-align: center;
    background: var(--bs-primary);
    color: var(--bs-white);
    font-size: 0.75em;
  }

  .dropdown-user-menu {
    min-width: 15.625em;
    padding: 0;
    margin: 0;

    .user-dropdown-inner {
      padding: 1em;
    }

    .dropdown-user-menu-image {
      height: 3em;
      width: 3em;
      object-fit: cover;
      min-width: 3em;
    }
  }
}

/*===================
Merchandise Header
========================*/
.header-merchandise {
  .navbar {
    .horizontal-nav {
      padding-left: 0;
    }

    > .container-fluid,
    > .container {
      justify-content: start;
    }
  }

  .header-top {
    background-color: #141414;
  }

  .header-bottom {
    position: relative;
    background: rgba(var(--bs-black-rgb), 0.5);
    backdrop-filter: blur(0.625em);
    display: inline-block;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease-out 0s;
  }

  .iq-nav-menu {
    li {
      &:first-child {
        .nav-link {
          padding-left: 0;
        }
      }

      .sub-nav {
        li {
          .nav-link {
            padding-left: var(--bs-navbar-nav-link-padding-x);
          }
        }
      }
    }
  }
}

.nav-item {
  .nav-link {
    &:hover {
      .down-to-right {
        transform: rotate(-90deg);
      }
    }
  }
}

.iq-meta-menu {
  gap: 1.5625em;

  li {
    a {
      color: var(--bs-white);
      text-transform: capitalize;
      font-size: 0.875em;
      font-weight: 600;
      letter-spacing: 0.0625em;

      :hover {
        color: var(--bs-primary);
      }
    }
  }
}

.search-box-2 {
  position: relative;

  input {
    height: auto;
    background-color: var(--bs-body-bg);
    padding: 0.5em 1em 0.5em 2.5em;
  }

  .search-btn {
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 48%;
    left: 0.5em;
    transform: translateY(-50%);
  }
}

/*==========
sidebar cart
===============*/
.sidebar-cart {
  .cart-items-list {
    height: 29em;
    overflow-y: auto;
  }

  .offcanvas-body {
    background-color: var(--bs-gray-900);
  }
}

.iq-search-bar {
  &.dropdown-menu {
    border: none;
    min-width: 25em;
    left: auto;
    right: 0;
  }

  .search-input {
    height: 4em;
    padding: 0 1em;
    border: none;
    border-radius: 0;
    color: var(--bs-white);
  }

  .input-group-text {
    padding: 0;
    background-color: transparent;
  }

  .search-submit {
    color: var(--bs-white);
    cursor: pointer;
    background: var(--bs-primary);
    border: none;
    outline: none;
    box-shadow: none;
    height: 3em;
    width: 3em;
    position: absolute;
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
  }
}

.iq-responsive-menu {
  padding: 1.0625em 0;
  width: 22px;
}

.dropdown-user-menu-image {
  &.header-user-image {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    min-width: 2.5em;
    object-fit: cover;
  }
}

/*====================
Slide Down Animation
=========================*/
@-webkit-keyframes header-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes header-slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 1800px) {
  header {
    .mega-menu-content {
      .iq-nav-menu {
        li {
          ul {
            &.mega-menu-item {
              width: 1190px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  header {
    .mega-menu-content {
      .iq-nav-menu {
        li {
          ul {
            &.mega-menu-item {
              width: 1024px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  header {
    .mega-menu-content {
      .iq-nav-menu {
        li {
          ul {
            &.mega-menu-item {
              width: 980px;
            }
          }
        }
      }
    }

    &.header-center-home {
      .mega-menu-content {
        .iq-nav-menu {
          li {
            ul {
              &.mega-menu-item {
                transform: translateX(-25%);
              }
            }
          }
        }
      }
    }

    .navbar {
      .iq-nav-menu {
        &.navbar-nav {
          li {
            ul {
              &.sub-nav {
                &.mega-menu-item {
                  max-width: 980px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  header {
    .mega-menu-content {
      .iq-nav-menu {
        li {
          ul {
            &.mega-menu-item {
              width: auto;

              li {
                width: 100%;
                display: inline-block;
              }
            }
          }
        }
      }
    }

    .navbar {
      .iq-nav-menu {
        &.navbar-nav {
          li {
            padding: 0 1em;
            ul {
              &.sub-nav {
                &.mega-menu-item,
                &.sub-nav {
                  max-width: inherit;
                  box-shadow: none;
                  padding: 1em 0;
                  max-width: 100%;
                  margin-left: 0;
                  border: 0.063em solid var(--bs-border-color);
                  border-radius: var(--bs-border-radius);

                  li {
                    .nav-link {
                      span {
                        padding: 0;
                      }
                    }
                  }
                }
              }
              &.sub-nav {
                  li {
                    padding: 0 1em;
                  }
               
              }
            }
          }
        }
      }
    }

    &.header-center-home {
      .mega-menu-content {
        .iq-nav-menu {
          li {
            ul {
              &.mega-menu-item {
                left: 0;
                transform: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  header {
    .mega-menu-content {
      .iq-nav-menu {
        li {
          ul {
            &.mega-menu-item {
              li {
                .nav-link {
                  span {
                    padding-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }

    .navbar {
      .iq-nav-menu {
        &.navbar-nav {
          li {
            ul {
              &.sub-nav {
                &.mega-menu-item {
                  max-width: 1360px;

                  li {
                    a {
                      &.nav-link {
                        text-align: center;
                        font-weight: 500;

                        &::after {
                          display: none;
                        }

                        img {
                          box-shadow: 0px 0px 87.3px 2.7px
                            rgba(var(--bs-black-rgb), 0.06);
                          transition: all 0.3s ease-in-out;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    ul {
      &.sub-nav {
        &.mega-menu-item {
          overflow: auto;
        }
      }
    }

    &.header-center {
      .iq-nav-menu {
        li {
          > ul {
            &.mega-menu-item {
              left: 50%;
              transform: translateX(-50%);
              top: 100%;
            }
          }
        }

        > li {
          &:first-child {
            position: static;
          }
        }
      }
    }
  }
}

@media (max-width: 476px) {
  .navbar-brand {
    img {
      &.logo {
        width: 100px;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .navbar-brand {
    img {
      &.logo {
        padding: 0;
      }
    }
  }

  .navbar {
    padding: 0;
  }

  header {
    .shoping-cart-button {
      padding: 1em 0;
      height: 3.25em;
    }

    .shopping-badge {
      width: 1em;
      height: 1em;
      right: -0.5em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
