.movie-banner {
    .movie-banner-image {
        &:before {
            background: linear-gradient(-90deg,rgba(var(--bs-black-rgb),1),rgba(var(--bs-black-rgb),1) 35%,rgba(var(--bs-light-rgb),0));
        }
    }

    .shows-content {
        >div {
            padding-left: 0;
            padding-right: 1.875em;
        }
    }

    .swiper-banner-button-prev {
        right: 0;
        left: auto;

        i {
            display: inline-block;
            transform: scalex(-1);
        }
    }

    .swiper-banner-button-next {
        left: 0;
        right: auto;

        i {
            display: inline-block;
            transform: scalex(-1);
        }
    }
}